<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Nutricipe</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/styles/style.css">
    <script src="assets/js/jquery/jquery-3.5.1.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-lg container-fluid">
        <div class="fixed-header">
            <div class="row bg-danger shadow py-4">
                <div class="col text-white">
                    <h1 class="text-center mb-0">Nutricipe</h1>
                    <div class="text-center">
                        <span>Nutricious Recipes galore</span>
                    </div>
                </div>
            </div>
            <div class="row bg-danger justify-content-center">
                <span id="current-user-username"
                    class="bg-white text-danger rounded text-white px-2 py-1 m-2"></span>
                <a id="home-link" class="nav-item nav-link active text-white" href="/home">Home</a>
                <a id="profile-link" class="nav-item nav-link text-white" href="profile.html">Profile</a>
                <a id="users-link" class="nav-item nav-link text-white" href="users.html">Users</a>
                <a id="products-link" class="nav-item nav-link text-white" href="products.html">Products</a>
                <a id="nutrients-link" class="nav-item nav-link text-white" href="nutrients.html">Nutrients</a>
                <a id="recipes-link" class="nav-item nav-link text-white" href="recipes.html">Recipes</a>
                <a id="diets-link" class="nav-item nav-link text-white" href="diets.html">Diets</a>
                <a id="categories-link" class="nav-item nav-link text-white" href="categories.html">Categories</a>
                <a id="logout-link" class="nav-item nav-link text-white" href="/logout">Log Out</a>
            </div>
            <div class="row shadow p-2 bg-light">
                <div class="d-flex align-items-center col-lg-2 col-12">
                    <button id="change-view-btn" class="btn btn-danger text-center btn-block lg-btn my-2 my-lg-0"
                        style="display: none;">Change View</button>
                </div>
                <div class="d-flex align-items-center col-lg-6 col-12 justify-content-center">
                    <div class="d-flex align-items-center">
                        <span class="text-danger h4">Search: </span>
                    </div>
                    <form class="d-flex align-items-center">
                        <div class="custom-control">
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="Pineapple">
                        </div>
                        <div class="custom-control">
                            <select id="select-category" class="form-control">
                                <option value="" disabled selected>Category</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="d-flex align-items-center col-lg-2 col-12">
                    <button id="search-btn"
                        class="btn btn-danger text-center btn-block lg-btn my-2 my-lg-0">Search</button>
                </div>
            </div>
        </div>
        <div class="row mt-3 d-flex mx-0 mx-lg-0">
            <div id="main-container" class="col-lg-8 col-12 justify-content-center order-2 order-lg-1"
                style="height: fit-content !important;">
                <div id="product-container" class="row">
                    <div class="d-flex align-items-center w-100">
                        <h2>Products</h2>
                        <span id="toggle-products" class="ml-3">Hide</span>
                    </div>
                    <div class="row">
                        <div id="products" class="d-flex flex-wrap">
                            
                        </div>
                    </div>

                </div>
                <div id="recipe-container" class="row">
                    <div class="d-flex align-items-center w-100">
                        <h2>Recipes</h2>
                        <span id="toggle-recipes" class="ml-3">Hide</span>
                    </div>
                    <div class="row">
                        <div id="recipes" class="d-flex flex-wrap">
                            
                        </div>


                    </div>

                </div>
            </div>
            <div id="fridge-container" class="col-lg-4 col-12 pr-0 mt-2 order-1">
                <div class="shadow mt-3">
                    <div class="row">
                        <div class="col">
                            <div class="p-3 bg-light">
                                <div class="row justify-content-center">
                                    <h3 class="text-center text-danger">Fridge</h3>
                                </div>
                                <div class="row text-center">
                                    <span class="text-center text-danger ml-3">Target Calories:</span>
                                    <span id="target-calories" class="text-center text-danger ml-2"> 2000</span>
                                </div>
                                <div class="row text-center">
                                    <span class="text-center text-danger ml-3">Current Calories:</span>
                                    <span id="current-calories" class="text-center text-danger ml-2"> 1000</span>
                                </div>
                                <div class="row text-center">
                                    <span class="text-center text-danger ml-3 mb-2">Categories</span>
                                    <div id="categories-container">
                                        
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <span class="text-center text-danger ml-3 mb-2">Unwanted Adverse Effects</span>
                                    <div id="adverse-effects-container">

                                    </div>
                                </div>
                            </div>
                            <div id="fridge-elements-container">          
                            </div>

                        </div>
                    </div>
                    <div class="text-center bg-light">
                        <button id="search-recipe-fridge" class="btn btn-info btn-act my-2" type="button">Show Recipes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fridge-element-template" style="display: none;" class="border-top w-100">
        <div class="d-flex">
            <img class="card-img-top thumbnail" src="assets/images/3.jpg"
                alt="Card image cap">
            <div id="card-body " class="mt-2">
                <div class="row">
                    <div class="col">
                        <span class="card-text">Name fsdfdgfdgfdgfd sdfsdgd</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-danger btn-act mr-3  my-2"
                            type="button">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="card-template" style="display: none;" class="card shadow m-2 card-quote">
        <img class="card-img-top img-full-size" src="" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <span class="card-text">Some quick example text to build on the card title and make
                up the bulk of the
                card's content.</span>
        </div>
        <div class="text-center">
            <button class="btn btn-success btn-act mb-3 mx-2" type="button">Add</button>
            <button class="btn btn-primary mb-3 mx-2" type="button">More</button>
        </div>
    </div>
    <div id="empty-template">
        <h5 class="text-center text-danger"></h5>
    </div>
    <span id="adverse-effect-template" style="display:none;"
    class="text-center text-white rounded px-1  ml-2 my-1 bg-danger">
    Lactose</span>
    <span id="category-template" style="display:none;"
    class="text-center text-white rounded px-1  ml-2 my-1 bg-danger">
    Lactose</span>


</body>
<script>
    $(document).ready(function () {
        getCurrentUser();
        getLastFiveProducts();
        getLastFiveRecipes();
        getFridge();
        hoverOverLink();
        function GetRecipesFromFridge(productIds){
            console.log(productIds)
            console.log("======")
            console.log(JSON.stringify(productIds))
            //var productIds
            //$('#fridge-elements-container').children().each(function () {
                //var currentElement = $(this);
                //var id = currentElement.attr('id');
                //var numericalId = id.split('-').reverse()[0];
                $.ajax({
            		url: "/recipe/product/diet",
            		method: "POST",
                    //contentType: "application/json",
                    traditional: true,
            		data : {
            			productIds: productIds,
            		},
            		complete : function(response){
                        if(response.status==200){
                            console.log(response);
                            clearRecipeContainer();
                            HideProductsSegment();
                        response.responseJSON.forEach(function(recipe) {
                        populateRecipesSegment(recipe);

                        });
                       
                    
                            
                        }
                        if(response.status==401){
                            alert("You are not authorized to perform this operation. Please log in and try again!");

                        }
                        if(response.status==404){
                            alert("Resource couldnt be found!");

                        }
            		},
            		fail : function(){
            			
            			alert("Something went terribly wrong!!!");
            		}
            	})
        }

        function HideProductsSegment(){
            $('#toggle-products').text("Show");
            $('#products').css("cssText","display: none !important;")
        }
        function HideRecipesSegment(){
            $('#toggle-recipes').text("Show");
            $('#recipes').css("cssText","display: none !important;")
        }
        function ShowRecipesSegment(){
            $('#toggle-recipes').text("Hide");
            $('#recipes').css("cssText","display: flex !important;")
        }
        function ShowProductsSegment(){
            $('#toggle-products').text("Hide");
            $('#products').css("cssText","display: flex !important;")
        }
        function hoverOverLink(){
            $('#toggle-products').hover(function(){
                $(this).css("color","red");  
                $(this).css('cursor', 'pointer');
            })
            $('#toggle-recipes').hover(function(){
                $(this).css("color","red");  
                $(this).css('cursor', 'pointer');
            })
            $('#toggle-recipes').mouseleave(function(){
                $(this).css("color","black");
                
            })
            $('#toggle-products').mouseleave(function(){
                $(this).css("color","black");  
               
            })
            $('#toggle-products').on('click',function(){
                if($(this).text()=="Hide"){
                $(this).text("Show");
                $('#products').css("cssText","display: none !important;")
               //debugger
                }
                else{
                    $(this).text("Hide");
                    $('#products').css("cssText","display: flex !important;")
                }
                })
            $('#toggle-recipes').on('click',function(){
                if($(this).text()=="Hide"){
                $(this).text("Show");
                $('#recipes').css("cssText","display: none !important;")
                }
                else{
                    $(this).text("Hide");
                    $('#recipes').css("cssText","display: flex !important;")
                }
                })
        }
        function clearFridgeContainer(){
            $('#fridge-elements-container').empty();
        }
        function clearRecipeContainer(){
            $('#recipes').empty();
            
        }
        function clearProductContainer(){
            $('#products').empty();
        }
        function addProductToFridge(id){
            $.ajax({
            		url: "/fridge/product",
            		method: "POST",
            		data : {
            			product_id : id,
            		},
            		complete : function(response){
            			if(response.status==201){
                            alert("Product has been added to the fridge!")
                            clearFridgeContainer()
                            getFridge();
                            $("#fridge-empty-element").remove();
            			}
                        if(response.status==200){
                            alert("Product has already been added to the fridge!");
                        }
                        if(response.status==401){
                            alert("You are not authorized to perform this operation. Please log in and try again!");

                        }
                        if(response.status==404){
                            alert("Resource couldnt be found!");

                        }
            		},
            		fail : function(){
            			
            			alert("Something went terribly wrong!!!");
            		}
            	})
        }
        function removeProductFromFridge(id){
            $.ajax({
                url: "/fridge/product",
                method: "DELETE",
                data: {
                    product_id : id,
                },
                complete: function (response) {
                    if(response.status==201){
                            alert("Product has been removed!")
                            clearFridgeContainer();
                            getFridge();
            			}
                        if(response.status==200){
                            alert("Product has been removed!")
                            clearFridgeContainer();
                            getFridge();
            			}
                        if(response.status==401){
                            alert("You are not authorized to perform this operation. Please log in and try again!");

                        }
                },
                fail : function(){
            			
            			alert("Something went terribly wrong!!!");
            		}

            })
            
        }


        function getFridge(){
            $.ajax({
                url: "/fridge",
                method: "GET",
                success: function (data) {
                    if (data != null) {
                        console.log(data);
                    populateFridgeSegment(data);
                    }
                }
            })
            $.ajax({
                url: "/user/current",
                method: "GET",
                success: function (data) {
                    if (data != null) {
                        console.log(data);
                    populateFridgeDietSegment(data.diet);
                    }
                }
            })
        }
        function populateFridgeDietSegment(diet){
            $("#categories-container").empty();
            $("#adverse-effects-container").empty();
            $('#target-calories').text(diet.recomendedCalories);
            $('#target-calories').val(diet.recomendedCalories);
            for(var i=0; i<diet.categories.length; i++){
            var template = $('#category-template').clone();
            template.text(diet.categories[i].name)
            if(diet.categories[i].type==="Adverse Effects"){
               $("#adverse-effects-container").append(template);
            }
            else{
                $("#categories-container").append(template);
            }
            template.show();
            }
            if($("#adverse-effects-container").children().length==0)
            {   var adverseEffectsTemplate = $('#category-template').clone();
                adverseEffectsTemplate.text("None");
                $("#adverse-effects-container").append(adverseEffectsTemplate);
                adverseEffectsTemplate.show();

            }
            if($("#categories-container").children().length==0)
            {   
                var adverseEffectsTemplate = $('#category-template').clone();
                adverseEffectsTemplate.text("None");
                $("#category-container").append(adverseEffectsTemplate);
                adverseEffectsTemplate.show();
                

            }

        }
        function populateFridgeSegment(data){
            var currentCalories =0;
            var TotalCalories = data.TotalCalories;
            clearFridgeContainer();
            console.log("Populate method Data")
            console.log(data);
            if(data.products.length > 0){
            for(var i=0;i<data.products.length;i++){
                var product = data.products[i];
                currentCalories+=product.calories;
            var template = $('#fridge-element-template').clone();
            template.attr('id', 'fridge-element-'+product.id);
            //template.find('h5').text(recipe.name);
            template.find('span').text(product.name);
            template.find
            var img = template.find('img');
            img.attr("src",product.imagePath);
            img.show();
            $('#fridge-elements-container').append(template);
            $('#fridge-elements-container').find("#current-calories").text(currentCalories)
            template.show();
            }
            attachFridgeOnClickEvents();
        }
        else{
            
            var template = $('#empty-template').clone();
            template.attr('id', 'fridge-empty-element');
            template.find('h5').text("The fridge is empty!");
            $('#fridge-elements-container').append(template);
            template.show();
        }
        $('#current-calories').text(currentCalories);
        $('#current-calories').val(currentCalories);

        }
        function attachFridgeOnClickEvents(){
            //var container = $('#fridge-elements-container');
            $('#fridge-elements-container').children().each(function () {
                //var productIds=[];
                var currentElement = $(this);
                var id = currentElement.attr('id');
                var numericalId = id.split('-').reverse()[0];
                //productIds.push(numericalId);
                currentElement.find('.btn-act').on('click',function(){
                    removeProductFromFridge(numericalId);
                    currentElement.remove();
                })
            })
        }
        $('#search-recipe-fridge').on('click',function(){
                $('#fridge-empty-element').remove();
                var productIds=[];
                
                if($('#fridge-elements-container').children().length===0){
                    alert("Please add products to the fridge!")
                    var template = $('#empty-template').clone();
                                    template.attr('id', 'fridge-empty-element');
                                    template.find('h5').text("The fridge is empty!");
                                    $('#fridge-elements-container').append(template);
                                    template.show();
                }
                else{
                    //debugger
                    $('#fridge-elements-container').children().each(function () {
                //var productIds=[];
                var currentElement = $(this);
                var id = currentElement.attr('id');
                var numericalId = id.split('-').reverse()[0];
                productIds.push(numericalId);
                    })
                    GetRecipesFromFridge(productIds)
                
               }
                console.log("productIDs")
                console.log(productIds);
                console.log($('#fridge-elements-container').children().length)

               
              
            
        })
        function getLastFiveRecipes(){
            $.ajax({
                url: "/recipe/lastfive",
                method: "GET",
                success: function (data) {
                    if (data != null) {
                        console.log(data);
                        data.forEach(function(recipe) {
                        populateRecipesSegment(recipe);
                        });
                       
                    }
                }
            })
        }
        function populateRecipesSegment(recipe){
            if($('#toggle-recipes').text()==="Show"){
                ShowRecipesSegment();
            }
            var template = $('#card-template').clone();
            template.attr('id', 'recipe-card-'+recipe.id);
            template.find('h5').text(recipe.name);
            template.find('span').text(recipe.description);
            var img = template.find('img');
            img.attr("src",recipe.imagePath);
            img.show();
            var button = template.find('.btn-act');
            button.remove();
            var moreButton = template.find('.btn-primary')
            moreButton.on('click',function(){
                sessionStorage.setItem("recipeId", recipe.id);
                window.location.assign("recipe.html");
                //alert('clicked')
            })

            $('#recipes').append(template);
            template.show();
        }
        function getLastFiveProducts(){
            $.ajax({
                url: "/product/lastfive",
                method: "GET",
                success: function (data) {
                    if (data != null) {
                        data.forEach(function(product) {
                        populateProductsSegment(product);
                        });
                       
                    }
                }
            })
        }
        function populateProductsSegment(product){
            if($('#toggle-products').text()==="Show"){
                ShowProductsSegment();
            }
            var template = $('#card-template').clone();
            template.attr('id', 'product-card-'+product.id);
            template.find('h5').text(product.name);
            template.find('span').text(product.description);
            var img = template.find('img');
            img.attr("src",product.imagePath);
            img.show();
            var button = template.find('.btn-act')
            button.on('click',function(){
                addProductToFridge(product.id)
            })
            var moreButton = template.find('.btn-primary')
            moreButton.on('click',function(){
                sessionStorage.setItem("productId", product.id);
                window.location.assign("product.html");
               //alert('clicked')
            })
            $('#products').append(template);
            template.show();
        }
        function getCurrentUser() {
            $.ajax({
                url: "/user/current",
                method: "GET",
                success: function (data) {
                    if (data != null) {
                        visualiseCurrentUser(data);
                        hideAdminElements(data);
                    }
                }
            })

        }
        function visualiseCurrentUser(user) {
            $('#current-user-username').text(user.username)
            console.log(user)
            $('#current-user').val(user.id)
        }
        function hideAdminElements(user) {
            var isAdmin = false;
            for (i = 0; i < user.roles.length; i++) {
                console.log(user.roles[i].code)
                if (user.roles[i].code == "ROLE_ADMIN") {

                    isAdmin = true;
                }

            }
            console.log(isAdmin);
            if (!isAdmin) {
                $("#users-link").remove();
            }

        }
    })


</script>

</html>